<div class="header">
    <div class="logo">
      <img class="image" src="../../../assets/Screenshot_2023-05-20_132633-removebg-preview(2).png" style="height: 100%;width: 100%;" alt="">
    </div>
    <div class="menu" (click)="menu()">
      <div class="one" style="width: 30px;height: 4px;background-color: #008035;margin-bottom: 7px;"></div>
      <div class="two" style="width: 30px;height: 4px;background-color: #008035;margin-bottom: 7px;"></div>
      <div class="three" style="width: 30px;height: 4px;background-color: #008035;margin-bottom: 7px;"></div>
    </div>
      <h1 class="dash">
        {{selectedItem}}
      </h1>    
    <div class="user">
      <div class="icons">
        <div class="icon">
          <i class="fa-regular fa-bell"></i>        
        </div>
        <div class="icon">
          <i class="fa-regular fa-comment-dots "></i>        
        </div>
        <div class="icon">
          <i class="fa-solid fa-gift"></i>        
        </div>
      </div>
      <div class="last-icons" style="display: flex;align-items: center;">
        <div class="user-name">Roshan Nair</div>
        <div class="user-image">RN</div>
      </div>
    </div>
  </div>
  