<div class="container">
  <!-- TOP -->
  <div class="top">
    <div class="title" style="font-size: 21px; font-weight: 600; color: white">
      Top Rated Doctors
    </div>
    <div class="view-more" style="color: rgb(15, 248, 85); font-size: 18px">
      View more<i
        class="fa-solid fa-angles-right"
        style="color: rgb(15, 248, 85); margin-left: 5px"
      ></i>
    </div>
  </div>

  <!-- IMAGE AREA -->
  <div class="main">
    <div class="doctor">
      <div class="pic">
        <div class="image">
            <img src="https://wordpress42397.files.wordpress.com/2021/06/whatsapp-image-2021-06-08-at-11.35.49-am-1.jpeg?w=640" alt="">
        </div>
        <div class="star">
            <i class="fa-solid fa-star fa-beat" style="color: yellow;font-size: 15px;"></i>
            <div style="font-size: 15px;color: white;">4.2</div>
        </div>
      </div>
      <div class="name">Dr. Alex Cherayil</div>
      <div class="post">Dentist</div>
      <div class="address" style="text-align: center;color: rgb(113, 112, 112);margin-top: 20px;">51 Villa Flaviana Govindrao Opp Potuguese Church</div>
      <div class="icons">
        <div class="icon"><i class="fa-brands fa-instagram"></i></div>
        <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
        <div class="icon"><i class="fa-brands fa-twitter"></i></div>
      </div>
    </div>
    <div class="doctor">
        <div class="pic">
            <div class="image">
                <img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?cs=srgb&dl=pexels-italo-melo-2379005.jpg&fm=jpg" alt="">
            </div>
            <div class="star">
                <i class="fa-solid fa-star  fa-beat" style="color: yellow;font-size: 15px;"></i>
                <div style="font-size: 15px;color: white;">4.8</div>
            </div>
          </div>
          <div class="name">Dr. Bupesh Mehta</div>
          <div class="post">Surgeon</div>
          <div class="address" style="text-align: center;color: rgb(113, 112, 112);margin-top: 20px;">Sec 37, Main Road, Faridabad, Faridabad</div>
          <div class="icons">
            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="icon"><i class="fa-brands fa-twitter"></i></div>
          </div>
    </div>
    <div class="doctor">
        <div class="pic">
            <div class="image">
                <img src="https://media.istockphoto.com/id/1313502972/photo/portrait-of-beautiful-woman-having-fun.jpg?b=1&s=170667a&w=0&k=20&c=wOZWMdDtNysiDBRfB-PH1MfibKExER4w9trL81rT0PQ=" alt="">
            </div>
            <div class="star">
                <i class="fa-solid fa-star fa-beat" style="color: yellow;font-size: 15px;"></i>
                <div style="font-size: 15px;color: white;">4.6</div>
            </div>
          </div>
          <div class="name">Dr. Padma Pillai</div>
          <div class="post">Neurologist</div>
          <div class="address" style="text-align: center;color: rgb(113, 112, 112);margin-top: 20px;">1897, Uday Chand Marg, Kotla Mubarakpur</div>
          <div class="icons">
            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="icon"><i class="fa-brands fa-twitter"></i></div>
          </div>
    </div>
  </div>
</div>
