<div class="widget-container">
  <div class="widget green">
    <div class="image1 fa-beat"></div>
    <div class="value">
      <div class="top">Patients</div>
      <div class="bottom">4590</div>
    </div>
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/1988/1988907.png" alt=""> -->

    <div class="icon">
      <i class="fa-solid fa-heart-pulse"></i>
    </div>
  </div>

  <div class="widget yellow">
    <div class="image2 fa-fade"></div>
    <div class="value">
      <div class="top">Doctors</div>
      <div class="bottom">168</div>
    </div>
    <img src="" height="100px" alt="" />
    <div class="icon">
      <i class="fa-solid fa-stethoscope"></i>
    </div>
  </div>

  <div class="widget red">
    <div class="image3 fa-shake"></div>
    <div class="value">
      <div class="top">Appoint-ments</div>
      <div class="bottom">74</div>
    </div>
    <img src="" height="100px" alt="" />
    <div class="icon">
      <i class="fa-regular fa-calendar-days"></i>
    </div>
  </div>

  <div class="widget blue">
    <div class="image4 fa-bounce"></div>
    <div class="value">
      <div class="top">Hospital Earnings</div>
      <div class="bottom">₹560k</div>
    </div>
    <img src="" height="100px" alt="" />
    <div class="icon">
      <i class="fa-solid fa-indian-rupee-sign"></i>
    </div>
  </div>
  
</div>
