<div class="container">
  <!-- top -->
  <div class="top">
    <div class="title" style="font-size: 21px; font-weight: 600; color: white">
      Recent Patient
    </div>
    <div class="view-more" style="color: rgb(15, 248, 85); font-size: 18px">
      View more<i
        class="fa-solid fa-angles-right"
        style="color: rgb(15, 248, 85); margin-left: 5px"
      ></i>
    </div>
  </div>

  <!-- list -->
  <div class="list">
    <div class="first">
      <div class="user">
        <div class="image fa-flip" style="height: 60px;width: 60px;border-radius: 20%;background-color: white;">
          <img src="https://thumbs.dreamstime.com/z/face-young-handsome-indian-man-looking-camera-face-young-handsome-indian-man-isolated-against-white-background-131186211.jpg" alt="" height="60px" width="60px" style="border-radius: 50%;"/>
        </div>
        <div class="text">
          <div style="font-size: 18px;font-weight: 700;color: white;">Nilesh Tara</div>
          <div style="font-size: 15px;color: white;">24 Year</div>
        </div>
      </div>
      <div class="status" style="font-size: 17px;color: orange;">Pending</div>
    </div>
    <mat-divider style="background-color: rgb(113, 114, 114);margin: 5px;"></mat-divider>
    <div class="first">
        <div class="user">
            <div class="image  fa-flip" style="height: 60px;width: 60px;border-radius: 20%;background-color: white;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLrvNcU76kpiSEFrCHgIRScWKF4H4juYjCKFW5Tz6d9g&usqp=CAU&ec=48600112" alt="" height="60px" width="60px" style="border-radius: 50%;"/>
            </div>
            <div class="text">
              <div style="font-size: 18px;font-weight: 700;color: white;">Jivika Parmar</div>
              <div style="font-size: 15px;color: white;">31 Year</div>
            </div>
          </div>
          <div class="status" style="font-size: 17px;color: rgb(5, 117, 209);">On Recovery</div>
    </div>
    <mat-divider style="background-color: rgb(113, 114, 114);margin: 5px;"></mat-divider>
    <div class="first">
        <div class="user">
            <div class="image fa-flip" style="height: 60px;width: 60px;border-radius: 20%;background-color: white;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdxWbUtk32TFyzKtlFG2I3vsI4b3YKFqo1jR_MD91kjQ&usqp=CAU&ec=48600112https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgTL1te4Iqf8i44dklbGfDn4k-_EWhT_JijCk62JethQ&usqp=CAU&ec=48600112" alt="" height="60px" width="60px" style="border-radius: 50%;"/>
            </div>
            <div class="text">
              <div style="font-size: 18px;font-weight: 700;color: white;">Pushpa Menon</div>
              <div style="font-size: 15px;color: white;">40 Year</div>
            </div>
          </div>
          <div class="status" style="font-size: 17px;color: red;">Rejected</div>
    </div>
    <mat-divider style="background-color: rgb(113, 114, 114);margin: 5px;"></mat-divider>
    <div class="first">
        <div class="user">
            <div class="image fa-flip" style="height: 60px;width: 60px;border-radius: 20%;background-color: white;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9_VKR61xfXg27DS9wLBFQ3x0JHXoD-7WbftzZVWmWkg&usqp=CAU&ec=48600112" alt="" height="60px" width="60px" style="border-radius: 50%;"/>
            </div>
            <div class="text">
              <div style="font-size: 18px;font-weight: 700;color: white;">Niraj Prasad</div>
              <div style="font-size: 15px;color: white;">14 Year</div>
            </div>
          </div>
          <div class="status" style="font-size: 17px;color: rgb(9, 249, 9);">Recovered</div>
    </div>
    <mat-divider style="background-color: rgb(113, 114, 114);margin: 5px;"></mat-divider>
  </div>
</div>
