    <div class="nav-items">    
        <div class="nav-item" routerLink="" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'" (click)="selectItem('DASHBOARD')" >
            <i class="fa-solid fa-table-columns"></i>      
            <span >Dashboard</span>
        </div>
    
        <div class="nav-item" routerLink="appointments"  [routerLinkActive]="'active'" (click)="selectItem('APPOINTMENTS')" >
            <i class="fa-solid fa-calendar-check"></i>      
            <span>Appointments</span>
        </div>
    
        <div class="nav-item" routerLink="staff" [routerLinkActive]="'active'" (click)="selectItem('STAFF')" >
            <i class="fa-solid fa-user-nurse"></i>        
            <span>Staff</span>
        </div>
        
        <div class="nav-item" routerLink="reviews"  [routerLinkActive]="'active'" (click)="selectItem('REVIEWS')" >
            <i class="fa-solid fa-pen-to-square"></i>      
            <span>Reviews</span>
        </div>
        
        <div class="nav-item" routerLink="help"  [routerLinkActive]="'active'" (click)="selectItem('HELP')" >
            <i class="fa-solid fa-hand-holding-hand"></i>      
            <span>Help</span>
        </div>
      </div>
    
      <!-- FOOTER_SIDEBAR -->
      <div style="padding: 25px;width: 100%;height: 200px;margin-top: 180px;">
        <p style="color: #7c808a;">
            Medicare Hospital Admin Dashboard © 
        </p>
        <p style="color: #7c808a;margin-top: -5px;">
            2023 All Rights Reserved
        </p>            
        <p style="color: #7c808a;font-size: 13px;">
            Made with<i class="fa-heart fa-solid" style="margin-right: 8px;margin-left: 8px;"></i>by Roshan B Nair
        </p>
    </div>