<div class="outer">
  <div class="container">
    <form class="form" action="action_page.php">
      <label for="fname">First Name</label>
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Your name.."
      />

      <label for="lname">Last Name</label>
      <input
        type="text"
        id="lname"
        name="lastname"
        placeholder="Your last name.."
      />

      <label for="country">State</label>
      <select id="country" name="country">
        <option value="australia">Kerala</option>
        <option value="canada">Karnataka</option>
        <option value="usa">Gujarath</option>
        <option value="usa">Punjab</option>
        <option value="usa">Maharashtra</option>
        <option value="usa">Harayana</option>
        <option value="usa">Bihar</option>
        <option value="usa">Uttar Predesh</option>
        <option value="usa">Madhya Pradesh</option>
        <option value="usa">Arunachal Pradesh</option>
        <option value="usa">Goa</option>
        <option value="usa">Sikkim</option>
        <option value="usa">Assaam</option>
      </select>

      <label for="subject">Subject</label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Write something.."
        style="height: 200px"
      ></textarea>

      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
