<div class="container">
    <div class="list">

        <!-- ITEM1 -->

        <div class="outer-div">
            <div class="item">
                <div class="tick">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked1" style="background-color: white; border-radius: 20%;"></mat-checkbox>
                </div>

                <div class="image-total">
                    <div class="image">
                        <img src="https://eres.dexignzone.com/xhtml/images/doctors/6.jpg" alt="">
                    </div>
    
                    <div class="details">
                        <div class="name">Glee Smiley</div>
                        <div class="date">Sunday, 24 July 2023 04:55pm</div>
                        <div class="type" style="color: green;background-color: white;border-radius: 5px;padding: 3px;font-weight: 700;margin-top: 10px;text-align: center;">
                            <i class="fa-solid fa-stethoscope fa-lg" style="color: green;margin-right: 10px;font-weight: 700;"></i>Chest infection 
                        </div>
                    </div>
                </div>

                <div class="review">When I came with my mother, I was very nervous. But after entering here I felt warmed with smiling </div>
                <div class="star">
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-regular fa-star" style="font-size: 20px;color: orange;"></i></div>
                </div>
    
                <div class="buttons">
                    <div class="publish" style="color: green;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Publish</div>
                    <div class="delete" style="color: red;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Delete</div>
                </div>
        </div>
<mat-divider style="margin-top: 10px;background-color: gray;width: 40%;"></mat-divider>
        <!-- ITEM2 -->
        <div class="outer-div">

            <div class="item">
                <div class="tick">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked2" style="background-color: white; border-radius: 20%;"></mat-checkbox>
                </div>

                <div class="image-total">
                    <div class="image">
                        <img src="https://eres.dexignzone.com/xhtml/images/doctors/18.jpg" alt="">
                    </div>
    
                    <div class="details">
                        <div class="name">Alexia Kev</div>
                        <div class="date">Sunday, 24 July 2023 04:55pm</div>
                        <div class="type" style="color: green;background-color: white;width: auto;border-radius: 5px;padding: 3px;font-weight: 700;margin-top: 10px;text-align: center;">
                            <i class="fa-solid fa-stethoscope fa-lg" style="color: green;margin-right: 10px;font-weight: 700;"></i>Allergies & Atshma
                        </div>
                    </div>
                </div>

                <div class="review">Thanks for all the services, no doubt it is the best hospital. My kidney, BP, diabetes problem</div>
                <div class="star">
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                </div>
        </div>

           <div class="buttons">
                <div class="publish" style="color: green;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Publish</div>
                <div class="delete" style="color: red;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Delete</div>
           </div>
        </div>
        <mat-divider  style="margin-top: 10px;background-color: gray;width: 40%;"></mat-divider>


        <!-- ITEM3 -->
        <div class="outer-div">
            <div class="item">
                <div class="tick">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked3" style="background-color: white; border-radius: 20%;"></mat-checkbox>
                </div>

                <div  class="image-total">
                    <div class="image">
                        <img src="https://eres.dexignzone.com/xhtml/images/doctors/17.jpg" alt="">
                    </div>
    
                    <div class="details">
                        <div class="name">Don John</div>
                        <div class="date">Sunday, 24 July 2023 04:55pm</div>
                        <div class="type" style="color: green;background-color: white;width: auto;border-radius: 5px;padding: 3px;font-weight: 700;margin-top: 10px;text-align: center;">
                            <i class="fa-solid fa-stethoscope fa-lg" style="color: green;margin-right: 10px;font-weight: 700;"></i>Food poisoning 
                        </div>
                    </div>
                </div>

                <div class="review">I am very much glad to note my feedback and grateful. Thanks to Dr. Chibber and assistants. I got very good guidelines for my patient.  </div>
                <div class="star">
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-regular fa-star" style="font-size: 20px;color: orange;"></i>
                </div>
        </div>

            <div class="buttons">
                <div class="publish" style="color: green;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Publish</div>
                <div class="delete" style="color: red;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Delete</div>
            </div>

        </div>
        <mat-divider  style="margin-top: 10px;background-color: gray;width: 40%;"></mat-divider>


        <!-- ITEM4 -->
        <div class="outer-div">
            <div class="item">
                <div class="tick">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked4" style="background-color: white; border-radius: 20%;"></mat-checkbox>
                </div>

                <div  class="image-total">
                    <div class="image">
                        <img src="https://eres.dexignzone.com/xhtml/images/doctors/19.jpg" alt="">
                    </div>
    
                    <div class="details">
                        <div class="name">Olivia Smuth</div>
                        <div class="date">Sunday, 24 July 2023 04:55pm</div>
                        <div class="type" style="color: green;background-color: white;width:auto;border-radius: 5px;padding: 3px;font-weight: 700;margin-top: 10px;text-align: center;">
                            <i class="fa-solid fa-stethoscope fa-lg" style="color: green;margin-right: 10px;font-weight: 700;"></i>Physical Therapy
                        </div>
                    </div>
                </div>

                <div class="review">It was never a feeling as if I was in a hospital. I got the best care. The response of each staff, right from security (screening), housekeeping, admission staff, nurses, trainee doctor, Doctor was excellent. </div>
                <div class="star">
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-regular fa-star" style="font-size: 20px;color: orange;"></i>
                </div>
            </div>

            <div class="buttons">
                <div class="publish" style="color: green;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Publish</div>
                <div class="delete" style="color: red;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Delete</div>
            </div>

        </div>
        <mat-divider  style="margin-top: 10px;background-color: gray;width: 40%;"></mat-divider>


        <!-- ITEM5 -->
        <div class="outer-div">
            <div class="item">
                <div class="tick">
                    <mat-checkbox class="example-margin" [(ngModel)]="checked5" style="background-color: white; border-radius: 20%;"></mat-checkbox>
                </div>

                <div  class="image-total">
                    <div class="image">
                        <img src="https://eres.dexignzone.com/xhtml/images/doctors/20.jpg" alt="">
                    </div>
    
                    <div class="details">
                        <div class="name">Glee Smiley</div>
                        <div class="date">Sunday, 24 July 2023 04:55pm</div>
                        <div class="type" style="color: green;background-color: white;border-radius: 5px;padding: 3px;font-weight: 700;margin-top: 10px;text-align: center;">
                            <i class="fa-solid fa-stethoscope fa-lg" style="color: green;margin-right: 10px;font-weight: 700;"></i>Allergies & Asthma
                        </div>
                    </div>
                </div>

                <div class="review">When I came with my mother, I was very nervous. But after entering here I felt warmed with smiling </div>
                <div class="star">
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star" style="font-size: 20px;color: orange;"></i>
                    <i class="fa-solid fa-star-half-stroke" style="font-size: 20px;color: orange;"></i>
                </div>
        </div>

            <div class="buttons">
                <div class="publish" style="color: green;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Publish</div>
                <div class="delete" style="color: red;background-color: white;width: 70px;border-radius: 5px;padding: 3px;font-weight: 700;display: flex;align-items: center;justify-content: center;">Delete</div>
            </div>

        </div>
    </div>
</div>